header, main {
  padding: 1rem 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.scoreboard {
  width: 100%;
  margin-bottom: 2rem;
}

table, td, th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.gameboard > .row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, auto); */
  gap: 0.25rem;
}

.gamecell {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: blue;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.gamecell > button {
  background-color: white;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  border: none;
}

.row.red > .gamecell > button:hover:not([disabled]) {
  background-color: rgb(255, 197, 197);
}

.row.yellow > .gamecell > button:hover:not([disabled]) {
  background-color: rgb(255, 255, 205);
}

.gamecell > button.yellow {
  background-color: rgb(255, 255, 130);
}

.gamecell > button.red {
  background-color: rgb(255, 106, 106);
}

.msg {
  margin-bottom: 0.5rem;
  background-color: blue;
  padding: 0.5rem;
  color: white;
  border-radius: 0.25rem;
}

.msg.red {
  font-weight: bold;
  color: rgb(255, 106, 106);
}

.msg.yellow {
  font-weight: bold;
  color: yellow;
}