header, main {
  padding: 1rem 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.scoreboard {
  width: 100%;
  margin-bottom: 2rem;
}

table, td, th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.gameboard > .row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(6, auto); */
  gap: 0.25rem;
}

.gamecell {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: blue;
  margin-bottom: 0.25rem;
}

.gamecell > div {
  background-color: white;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
}

.gamecell > div.filled {
  background-color: yellow;
}